/* .container {
 text-align: center;
 margin-top: 20px;
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
}

.todo {
  background-color: #94e1f7;
  border-radius: 5px;
  padding: 10px;
}

.completed {
  background-color: #c6e0b4;
}

.incompleted {
  background-color: #fce4e4;
} */

/* 
 
 .container {
  text-align: left;
  margin-top: 20px;
 }
 
 .todo-list {
   width: 50%;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
 }

 .todo-list th,
 .todo-list td {
  padding: 10px;
  border:1px solid #ddd;
 
 }

 .todo-list th {
  background-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;
 }

 .todoss {
  width: 300%;
 }

 .todo {
   background-color: #94e1f7;
   padding: 20px;
   
 }

 h1 {
  text-align: center;
 }

 .completed {
   background-color: #c6e0b4;
 }
 
 .incompleted {
   background-color: #fce4e4;
 }
 
 .todo-list th:first-child,
 .todo-list td:first-child {
  width: 100px;
  text-align: center;
 } 
 */


/* .container {
  text-align: left;
  margin-top: 20px;
}

.todo-list {
  width: 60%;
  background-color: #f6e5c6;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.todo-list th,
.todo-list td {
  padding: 10px;
  border: 1px solid #2d2a2a;
}

.todo-list th {
  background-color: #b5f3f2;
  background:repeating-linear-gradient(circle,#ff0000,#0000ff 20%);
}

.todo {
  background-color: #bbfd16;
}

.completed {
  background-color: #9dfc5a;
}

.incompleted {
  background-color: #f7b0b0;
}

.button-container {
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

.button-container input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

.button-container button {
  padding: 5px 10px;
  background-color: #7bd673;
  color: rgb(98, 72, 72);
  border: none;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
  border: 1px solid #2d2a2a;
}

.update-button{
  padding: 5px 10px;
  background-color: #7bd673;
  color: rgb(25, 23, 23);
  border: 1px solid;
  cursor: pointer;
}

.delete-button{
  padding: 5px 10px;
  background-color: #7bd673;
  color: rgb(25, 23, 23);
  border: 1px solid;
  cursor: pointer;
}

.update-button:hover,
.update-delete:hover {
   background-color: #7bd673;
   border: 1px solid #2d2a2a;
}

.action-button {
  display: flex;
  flex-direction: column; 
}
 
.action-button button {
  margin-bottom: 5px;
}
 
.action-button button:first-child {
  margin-top: 5px;
} */



.container {
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  margin: 0 auto;
  background-color: #fff;
  color: #090000;
}
 
.todo-list {
  width: 60%;
  background-color: #f6e5c6;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
 
.todo-list th,
.todo-list td {
  padding: 10px;
  border: 1px solid #040000;
}
 
.todo-list th {
  background-color: #b8f79b;
  background: repeating-linear-gradient(circle, #ff0000, #0000ff 20%);
}
 
.todo {
  background-color: #11d8e6;
}
 
.completed {
  background-color: #9dfc5a;
}
 
.incompleted {
  background-color: #f7b0b0;
}

.button-container {
  margin-bottom: 20px;
  text-align: center;
}
 
h1 {
  text-align: center;
  font-style: italic;
  color: #f80a0a;
  background-color: #d9fe07;
}

input{
  background-color: #f6e5c6;
  border: 1px solid #ddd;
  padding: 5px;
}

select {
  background-color: #f6e5c6;
  border: 1px solid #ddd;
  padding: 5px;
}


.action-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 
.button-container input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}
 
.button-container button {
  padding: 5px 10px;
  cursor: pointer;
}
 
.button-container button:hover {
  border: 1px solid #2d2a2a;
}
 
.update-button {
  padding: 5px 10px;
  background-color: #63e169;
  color: #060000fb;
  border: 1px solid;
  cursor: pointer;
}
 
.update-button:hover {
  background-color: #389438;
  opacity: 0.8;
}

.updating {
  background-color: #f6e5c6;
  border: 1px solid #ddd;
  padding: 5px;
}
 
.delete-button {
  padding: 5px 10px;
  background-color: #fb3a3a;
  color: #070707fb;
  border: 1px solid;
  cursor: pointer;
}
 
.delete-button:hover {
  background-color: #fb3a3a;
}
  
.filter-container {
  text-align: center;
  margin-bottom: 15px;
}

.search-container {
   text-align: center;
   padding: 5px;
   margin-bottom: 15px;
}

.search {
  text-align: center;
  font-style: italic;
  width: 100%;
  color:#090000;
  
}
.input-group {
  margin-right: 15px;
  display: inline-block;
}

.dark-mode {
  background-color: #81edcebe;
  color: #3605fb;
  font-family: sans-serif;
}